<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="diary_pro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <diary_pro.Properties.Settings>
            <setting name="selected_bg_image_index" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="selected_music_index" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="site" serializeAs="String">
                <value>www.katiSite.il</value>
            </setting>
            <setting name="user_name" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="last_memo_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="flag" serializeAs="String">
                <value>True</value>
            </setting>
        </diary_pro.Properties.Settings>
    </userSettings>
</configuration>